<h1>Novo Herói <small>asd</small></h1>

<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="100">
                <mat-label>Super Herói</mat-label>
                <input matInput type="text" required />
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" required />
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Primeira Aparição</mat-label>
            <input matInput type="text" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personagens</mat-label>
            <input matInput type="text" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Criador</mat-label>
            <mat-select>
                <mat-option *ngFor="let publicher of publisher" [value]="publicher.id">
                    {{ publicher.descricao }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto Url</mat-label>
            <input matInput type="url" required />
        </mat-form-field>

        <br>

        <button mat-raised-button color="primary">
        <mat-icon class="mat-18">save</mat-icon>
        Salvar
        </button>

    </div>

    <div fxFlex>
        <img [src]=" heroe | imagen">
    </div>
</div>